
body {
 min-width: 592px;
 font-family: 'Raleway', sans-serif;
 background: url("../img/bg1.jpg");
 background-repeat: no-repeat;
 height: 100%;
 background-size: cover;
 color: $main-color;
 background-size: cover;
}
