@import url('https://fonts.googleapis.com/css?family=Roboto');
/*@font-face {
    font-family: 'Monly-Bold';
    src: url("parts/ont/Monly-Bold.ttf");*/
   /*}*/

html{
  overflow:  hidden;
}

body {
  background: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  max-width: none;
  height: 100%;
  }

/*header*/
.btn{
    background-color: transparent;
    color: #e2dbbe;
    font-size: 35px;
    padding: 5px;
  }
  .btn:hover, .btn:focus {
    color: #dbbd8a;
  }
  .btn-search{
    position: fixed;
    left: 26%;
  }

  .head-img{
    height: 40px;
    border-radius: 3px;
    float: right;
    padding: 5px;
  }

.planet{
  height: 76%;
  position: absolute;
  top: 18%;
  left: 40%;
}

/*menu*/
.menu{
    background-color: #3b3843;
    width: 25%;
    height: 100vh;
    z-index: 10;
    position: absolute;
}

.menu button{
  float: right;
  padding: 10px;
}

.menu-list{
  display: inline;
  list-style-type: none;
  color: #e2dbbe;
}
.menu-list li{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.menu-list li:hover{
  color: #dbbd8a;
  cursor: pointer;
}
.menu-list a{
  text-decoration: none;
}


/*.name {
  position: absolute;
  left: 44%;
  top: 45%;
  display: inline-block;
  color: rgba(13, 13, 13, 0.9);
  border: none;
  font-size: 3vw;
  font-weight: 800;
  width: 12vw;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
   }*/

footer {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
  height: 2vw;
  width: 100%;
  background: rgba(26, 26, 26, 0.7);
  z-index: 0;
}
.footer-text {
  display: block;
  float: left;
  font-size: 14px;
  text-transform: uppercase; }
.footer-text:hover {
    cursor: pointer; }
.footer-text li {
    display: inline;
    list-style: none;
    margin: 5px;
  }
