@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
/*@font-face {
    font-family: 'Monly-Bold';
    src: url("parts/ont/Monly-Bold.ttf");*/
   /*}*/

html{
  overflow:  hidden;
}

body {
  background: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  max-width: none;
  height: 100%;
  }

/*header*/
.btn{
    background-color: transparent;
    color: #e2dbbe;
    font-size: 15px;
    padding: 5px;
  }

  .head-img{
    height: 15px;
    border-radius: 1px;
  }

.planet{
  height: 62%;
  position: relative;
  top: 20%;
  left: 28%;
}



/*.name {
  position: absolute;
  left: 44%;
  top: 45%;
  display: inline-block;
  color: rgba(13, 13, 13, 0.9);
  border: none;
  font-size: 3vw;
  font-weight: 800;
  width: 12vw;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
   }*/

/*footer {
  position: fixed;
  padding: 5px;
  bottom: 0;
  left: 0;
  height: 2vw;
  width: 100%;
  background: rgba(26, 26, 26, 0.7); }
.footer-text {
  display: block;
  float: left;
  font-size: 14px;
  text-transform: uppercase; }
.footer-text:hover {
    cursor: pointer; }
.footer-text li {
    display: inline;
    list-style: none;
    margin: 5px; }*/
