@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
body {
  min-width: 592px;
  font-family: 'Raleway', sans-serif;
  background: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  color: #e6e6e6;
  background-size: cover;
}

.bttn {
  position: absolute;
  left: 44%;
  top: 45%;
  display: inline-block;
  color: rgba(13, 13, 13, 0.9);
  border: none;
  font-size: 3vw;
  font-weight: 800;
  width: 12vw;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: none;
}

.bttn:hover {
  color: #666666;
}

.girl {
  width: 7vw;
  height: 10vw;
  position: absolute;
  left: 47%;
  top: 17%;
}

.girl:hover {
  cursor: pointer;
}

.cat {
  width: 10vw;
  height: 10vw;
  position: absolute;
  left: 44%;
  top: 75%;
  transform: rotate(180deg);
}

.cat:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  padding: 5px;
  bottom: 0;
  left: 0;
  height: 2vw;
  width: 100%;
  background: rgba(26, 26, 26, 0.7);
}

.footer-text {
  display: block;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-text:hover {
  cursor: pointer;
}

.footer-text li {
  display: inline;
  list-style: none;
  margin: 5px;
}

.footer-img {
  float: right;
  margin: auto 10px;
  height: 1.5vw;
  width: 2.5vw;
  border-radius: 2px;
}

.footer-img:hover {
  cursor: pointer;
}
